@import "../utils/functions.scss";
@import "../utils/variables.scss";

.search-appointments{
  display: flex;
  justify-content: space-between;
  &-form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    @include max-screen(420px) {
      grid-template-columns: 1fr;
    }
    .ant-form-item{
      margin: 0;
    }
  }
}

.appointment-edit {
  .fromAppointment {
    width: 90%;
    margin: 0 auto;
    @include Flex(flex, space-between, flex-start);
    @include Gap(90px, 0);
  }
  .label {
    &::before {
      display: inline-block;
      margin-inline-end: 4px;
      color: #ff4d4f;
      font-size: 14px;
      font-family: SimSun, sans-serif;
      line-height: 1;
      content: "*";
    }
  }
  .ant-form-item-control-input-content {
    display: flex;
    column-gap: 20px;
  }
  .ant-btn {
    background-color: $EagleGreen;
    border: 1px solid $EagleGreen;
  }
  :where(.css-dev-only-do-not-override-xu9wm8).ant-btn-primary:not(
      :disabled
    ):not(.ant-btn-disabled):hover {
    background-color: white;
    color: $EagleGreen;
  }
  .background {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: grayscale(50%) blur(5px);
    z-index: 10;
  }
  .modal-1 {
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    border-radius: 24px;
    padding: 20px;
  }
}