@charset "UTF-8";

//size
$xxl: 1200px;
$lg: 1024px;
$sm: 768px;
$s: 640px;

// font Family
$Geologica: "Geologica", sans-serif;
$fontFamily: Arial, "Helvetica Neue", Helvetica, sans-serif;

//color
$EagleGreen: #5C0500;
