@charset "UTF-8";

//size
$xxl: 1240px;
$lg: 1024px;
$sm: 768px;
$s: 640px;

// font Family
$Geologica: "Geologica", sans-serif;
$fontFamily: Arial, "Helvetica Neue", Helvetica, sans-serif;

//color
$EagleGreen: #5c0500;
$Cultured: #f5f5f5;
$MidnightGreen: #00575c;
$SeaSerpent: #5ebdc2;
$SonicSilver: #7a7a7a;
