@import "../utils/functions.scss";
@import "../utils/variables.scss";
*{
  font-family: $Roboto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #f5f5f5;
}
.container {
  padding: 0px 10px;
  @include max-screen($lg) {
    width: 994px;
  }
  @include max-screen($s) {
    width: 640px;
    padding: 0px;
  }
  .account_info {
    margin: 0px auto;
    padding: 10px 0px;
    background-color: #f5f5f5;
    height: 100vh;
    width: 1440px;
    box-sizing: border-box;
    @include max-screen($lg) {
      width: 100%;
    }
    @include max-screen($s) {
      width: 100%;
      padding: 0;
    }
    .account_info-row {
      display: flex;
      @include max-screen($s) {
        display: flex;
        flex-direction: column;
      }
      .account_info-heading {
        font-size: 24px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        padding: 20px 0px;
        margin: 0px 0px;
        .logout {
          font-size: 15px;
          text-decoration: none;
          color: #00575c;
          margin-left: 8px;
          font-weight: 550;
        }
        @include max-screen($lg) {
          font-size: 20px;
          .logout{
            font-size: 16px;
          }
        }
        @include max-screen($s) {
          background-color: #fff;
          margin: 0;
          padding: 20px 30px 5px 20px;
        }
      }
      .account_info-col {
        display: flex;
        flex-direction: column;
      }
      .col_1 {
        display: flex;
        flex: 0.83;
        font-family: Arial, Helvetica, sans-serif;
        @include max-screen($lg) {
          flex: 0.59;
        }
        @include max-screen($s) {
          width: 100%;
          background-color: #fff;
          font-size: 18px;
          font-weight: bold;
        }
        .account_col-list {
          list-style: none;
          line-height: 30px;
          
          @include max-screen($s) {
            margin: 0px;
          }
          .history {
            display: none;
          }
          .tracking {
            display: none;
          }
          
          .account_col-item {
            margin: 10px 0px;
            :hover {
              color: #00575c !important;
            }
            .account_col-link {
              text-decoration: none;
              color: black;
              display: flex;
              font-size: 16px;

              .icon {
                display: none;
              }
              @include max-screen($lg) {
                font-size: 15px;
              }
              @include max-screen($s) {
                .icon {
                  display: block;
                  margin: 0px 10px 0px 0px;
                  width: 30px;
                  text-align: center;
                }
              }
            }
            .active{
              color: #00575c;
            }
            .history_table{
              display: none;
            }
            .tracking_table{
              display: none;
            }
            .history {
              display: none;
            }
            .tracking {
              display: none;
            }
            @include max-screen($lg) {
              .his_track{
                display: none;
              }
              .history_table{
                display: block;
              }
              .tracking_table{
                display: block;
              }
            }
            @include max-screen($s) {
              .his_track {
                display: none;
              }
              .history_table{
                display: none;
              }
              .tracking_table{
                display: none;
              }
              .history {
                display: block;
                display: flex;
              }
              .tracking {
                display: block;
                display: flex;
              }
            }
          }
        }
        @include max-screen($s) {
          margin-left: 0;
          padding-left: 15px;
        }
      }
      .col_2 {
        display: flex;
        flex: 3;
        background-color: #fff;
        margin: -40px 0px;
        padding: 30px 30px 20px 30px;
        border-radius: 8px;
        hr{
          opacity: 0.3;
        }
        @include max-screen($lg) {
          margin: 15px 15px;
        }

        @include max-screen($s) {
          padding: 0px 30px 20px 20px;
          margin: 10px 0px 10px 0px;
        }
        .col_2-heading {
          color: #00575c;
          margin: 0px 0px 40px 0px;
          font-size: 24px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 400;
          @include max-screen($lg) {
            font-size: 22px;
          }
          @include max-screen($s) {
            margin: 20px 0px 25px 0px;
          }
        }
        .col_2-form {
          margin-top: 10px;
          .account_email {
            margin: 0px 0px 30px 0px;
            label {
              font-weight: 550;
              font-size: 16px;
            }
            .col_2-input {
              margin: 0px 0px 15px 0px;
              position: relative;
              // max-width: 100%;
              
              .col_2-input-email {
                position: relative;
                width: 100%;
                padding: 10px 0px;
                border: none;
                outline: none;
              }
              
              .col_2-input-edit {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                font-weight: bold;
                a {
                  text-decoration: none;
                  color: #00575c;
                }
              }
            }
          }
          .account_password {
            margin: 0px 0px 10px 0px;
            label {
              font-weight: 550;
            font-size: 16px;

            }
            .col_2-input {
              margin: 0px 0px 15px 0px;
              position: relative;
              .col_2-input-password {
                position: relative;
                width: 100%;
                padding: 10px 0px;
                border: none;
                outline: none;

              }
              .col_2-input-edit {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                font-weight: bold;
                a {
                  text-decoration: none;
                  color: #00575c;
                }
              }
            }
          }
        }
      }
      .active{
        display: block;
      }
    }
  }
}

.breadcumb{
  display: flex;
  .home{
    opacity: 0.9;
    color: black;
    text-decoration: none;
  }
  .slash{
    margin: 0px 12px;
  }
  @include max-screen($s) {
    padding: 10px 10px;
  }
}