@import "../utils/functions.scss";
@import "../utils/variables.scss";

* {
  font-family: $Roboto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.account_info {
  padding: 10px 0px 50px 0px;
  background-color: $Cultured;
  width: 100%;
  box-sizing: border-box;
  @include max-screen($sm) {
    padding: 0px;
  }
  .account_info-row {
    display: flex;
    max-width: $xl;
    margin: 0 auto;
    @include max-screen($xl) {
      margin: 10px 30px;
    }
    @include max-screen($sm) {
      display: flex;
      margin: 10px 30px;
      flex-direction: column;
      margin: 0px;
    }
    .account_info-heading {
      font-size: 24px;
      font-weight: 600;
      font-family: Arial, Helvetica, sans-serif;
      padding: 20px 0px;
      margin: 0px 0px;
      .logout {
        font-size: 15px;
        text-decoration: none;
        color: $EagleGreen;
        margin-left: 8px;
        font-weight: 550;
      }
      @include max-screen($lg) {
        font-size: 20px;
        .logout {
          font-size: 16px;
        }
      }
      @include max-screen($sm) {
        background-color: white;
        margin: 0;
        padding: 20px 30px 5px 20px;
      }
    }
    .account_info-col {
      display: flex;
      flex-direction: column;
    }
    .col_1 {
      display: flex;
      flex: 1;
      font-family: Arial, Helvetica, sans-serif;
      @include max-screen($lg) {
        flex: 1;
      }
      @include max-screen($sm) {
        width: 100%;
        background-color: white;
        font-size: 18px;
        font-weight: bold;
      }
      .account_col-list {
        list-style: none;
        line-height: 30px;

        @include max-screen($sm) {
          margin: 0px;
        }
        .history {
          display: none;
        }
        .tracking {
          display: none;
        }

        .account_col-item {
          margin: 10px 0px;
          :hover {
            color: $EagleGreen !important;
          }
          .account_col-link {
            text-decoration: none;
            color: black;
            display: flex;
            font-size: 16px;

            .icon {
              display: none;
            }
            @include max-screen($lg) {
              font-size: 15px;
            }
            @include max-screen($sm) {
              .icon {
                display: block;
                margin: 0px 10px 0px 0px;
                width: 30px;
                text-align: center;
              }
            }
          }
          .active {
            color: $EagleGreen;
          }
          .history_table {
            display: none;
          }
          .tracking_table {
            display: none;
          }
          .history {
            display: none;
          }
          .tracking {
            display: none;
          }
          @include max-screen($lg) {
            .his_track {
              display: none;
            }
            .history_table {
              display: block;
            }
            .tracking_table {
              display: block;
            }
          }
          @include max-screen($sm) {
            .his_track {
              display: none;
            }
            .history_table {
              display: none;
            }
            .tracking_table {
              display: none;
            }
            .history {
              display: block;
              display: flex;
            }
            .tracking {
              display: block;
              display: flex;
            }
          }
        }
      }
      @include max-screen($sm) {
        margin-left: 0;
        padding-left: 15px;
      }
    }
    .col_2 {
      display: flex;
      flex: 3;
      background-color: white;
      margin: -40px 0px;
      padding: 30px 30px 20px 30px;
      border-radius: 8px;
      hr {
        opacity: 0.3;
      }
      @include max-screen($xl) {
        width: 100%;
        margin-top: 10px;
      }

      @include max-screen($sm) {
        padding: 0px 30px 20px 20px;
        // margin: 10px 0px 10px 0px;
      }
      .col_2-heading {
        color: $EagleGreen;
        margin: 0px 0px 40px 0px;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        @include max-screen($lg) {
          font-size: 22px;
        }
        @include max-screen($sm) {
          margin: 20px 0px 25px 0px;
        }
      }
      .col_2-form {
        margin-top: 10px;
        .account_email {
          margin: 0px 0px 30px 0px;
          label {
            font-weight: 550;
            font-size: 16px;
          }
          .col_2-input {
            margin: 0px 0px 15px 0px;
            position: relative;
            .col_2-input-email {
              position: relative;
              width: 100%;
              padding: 10px 0px;
              border: none;
              outline: none;
            }

            .col_2-input-edit {
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
              font-weight: 550;

              a {
                text-decoration: none;
                color: $EagleGreen;
              }
            }
          }
        }
        .account_password {
          margin: 0px 0px 10px 0px;
          label {
            font-weight: 550;
            font-size: 16px;
          }
          .col_2-input {
            margin: 0px 0px 15px 0px;
            position: relative;
            .col_2-input-password {
              position: relative;
              width: 100%;
              padding: 10px 0px;
              border: none;
              outline: none;
            }
            .eyes {
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
              font-weight: 550;
              margin-right: 40px;
            }
            .col_2-input-edit {
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
              font-weight: 550;

              a {
                text-decoration: none;
                color: $EagleGreen;
              }
            }
          }
        }
      }
    }
    .active {
      display: block;
    }
  }
}

.breadcumb {
  display: flex;
  margin-top: 20px;
  .home {
    opacity: 0.9;
    color: black;
    text-decoration: none;
  }
  .slash {
    margin: 0px 12px;
  }
  @include max-screen($sm) {
    padding: 10px 20px;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin: 30px 0px;
  overflow: hidden;

  th {
    color: $EagleGreen;
    background-color: #fafafa;
    border: none;
    outline: none;
  }
  th:first-child {
    border-top-left-radius: 10px;
    border-left: none;
  }
  th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
  }

  td,
  th {
    line-height: 50px;
  }
  tbody {
    tr {
      td {
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid #f0f0f0;
        button {
          padding: 6px 12px;
          cursor: pointer;
          border-radius: 5px;
          background-color: #e87878;
          border: none;
          outline: none;
        }
        button:hover {
          background-color: #e75656;
        }
        a {
          font-size: 15px;
        }
        a:hover {
          cursor: pointer;
          text-decoration: underline;
          color: $EagleGreen;
        }
        @include max-screen($sm) {
          button {
            padding: 5px 7px;
          }
          button:hover {
            font-weight: 500;
          }
        }
      }
    }
    tr:nth-child(even) {
      background-color: #fcfcfc;
    }
  }
  @include max-screen($sm) {
    width: 100%;
    td {
      font-size: 12px;
      line-height: 30px;
    }
    th {
      line-height: 30px;
    }
  }
}

.container-table {
  overflow-x: auto;
  width: 505px;
  box-sizing: border-box;
  @include max-screen($sm) {
    width: 100%;
  }
  .datlich {
    overflow: hidden;
    width: 800px;
    @include max-screen($sm) {
      width: 900px;
    }
  }
  table {
    border-collapse: collapse;
    text-align: center;
    margin: 30px 0px;
    width: 800px;
    th {
      color: $EagleGreen;
      background-color: #fafafa;
      border: none;
      outline: none;
      font-size: 15px;
    }
    th:first-child {
      border-top-left-radius: 10px;
      border-left: none;
    }
    th:last-child {
      border-top-right-radius: 10px;
      border-right: none;
    }
    th:first-child {
      padding-left: 10px;
    }

    td,
    th {
      line-height: 50px;
    }
    tbody {
      tr {
        td {
          border-left: none;
          border-right: none;
          border-top: none;
          border-bottom: 1px solid #f0f0f0;
          button {
            padding: 6px 12px;
            cursor: pointer;
            border-radius: 5px;
            background-color: #e87878;
            border: none;
            outline: none;
          }
          button:hover {
            background-color: #e75656;
          }
          a {
            font-size: 15px;
          }
          a:hover {
            cursor: pointer;
            text-decoration: underline;
            color: $EagleGreen;
          }
          @include max-screen($sm) {
            button {
              padding: 5px 7px;
            }
            button:hover {
              font-weight: 500;
            }
          }
        }
      }
      tr:nth-child(even) {
        background-color: #fcfcfc;
      }
    }
    @include max-screen($sm) {
      width: 900px;
      overflow: hidden;
      td {
        font-size: 12px;
        line-height: 30px;
      }
      th {
        line-height: 30px;
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 50%;
  margin-top: 70px;
  transform: translateX(50%);
  background-color: white;
  width: 80%;
  min-height: 20vh;
  max-height: 85vh;
  z-index: 10;
  padding-bottom: 10px;
  overflow-y: auto;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  @include max-screen($sm) {
    margin-top: 20px;
    font-size: 15px;
  }
  .modal-content {
    min-height: 100px;
    .close {
      display: flex;
      justify-content: flex-end;
      font-size: 30px;
      margin: -5px 30px 15px 0px;
    }
    .close:hover {
      color: red;
    }
    margin-top: 20px;
    line-height: 30px;
    table {
      width: 100%;
      line-height: 45px;
      border-collapse: collapse;
      th {
        color: $EagleGreen;
        background-color: #fafafa;
        border: none;
        outline: none;
      }
      th:first-child {
        border-top-left-radius: 10px;
        border-left: none;
      }
      th:last-child {
        border-top-right-radius: 10px;
        border-right: none;
      }

      td,
      th {
        line-height: 60px;
      }
      tbody {
        tr {
          td {
            border-left: none;
            border-right: none;
            border-top: none;
            border-bottom: 1px solid #f0f0f0;
            button {
              padding: 6px 12px;
              cursor: pointer;
              border-radius: 5px;
              background-color: #e87878;
              border: none;
              outline: none;
            }
            button:hover {
              background-color: #e75656;
            }
            a {
              font-size: 15px;
            }
            a:hover {
              cursor: pointer;
              text-decoration: underline;
              color: $EagleGreen;
            }
            @include max-screen($sm) {
              button {
                padding: 5px 7px;
              }
              button:hover {
                font-weight: 500;
              }
            }
          }
        }
        tr:nth-child(even) {
          background-color: #fcfcfc;
        }
        .done_pay {
          color: $EagleGreen;
          font-weight: bold;
        }
      }
    }

    text-align: center;
  }
}

.modal_history {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 80%;
  min-height: 20vh;
  max-height: 85vh;
  z-index: 10;
  padding-bottom: 10px;
  overflow-y: auto;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  .modal-content-history {
    min-height: 100px;
    .close {
      display: flex;
      justify-content: flex-end;
      font-size: 30px;
      margin: -5px 30px 15px 0px;
      .table-container {
        display: flex;
        flex-direction: column;
        .row {
          display: flex;
          margin-bottom: 10px;
          .label {
            flex: 1;
            font-weight: bold;
          }

          .value {
            flex: 2;
          }
        }
      }
    }
    .close:hover {
      color: red;
    }
    ul {
      li {
        display: flex;
        padding: 10px;
        .title {
          flex: 1;
          display: flex;
          flex-direction: row;
          width: 200px;
          padding: 0px 0px 0px 40px;
          color: $EagleGreen;
        }
        .value {
          display: flex;
          // padding-left: 50px;
          flex: 1;
        }
        @include max-screen($sm) {
          font-size: 15px;
          .title {
            padding: 0px;
          }
        }
      }
      li:nth-child(odd) {
        background-color: #f5f5f5;
      }
    }
    margin-top: 20px;
    line-height: 30px;
    table {
      width: 100%;
      line-height: 45px;
      border-collapse: collapse;
      th {
        color: $EagleGreen;
        background-color: #fafafa;
        border: none;
        outline: none;
      }
      th:first-child {
        border-top-left-radius: 10px;
        border-left: none;
      }
      th:last-child {
        border-top-right-radius: 10px;
        border-right: none;
      }

      td,
      th {
        line-height: 60px;
      }
      tbody {
        tr {
          td {
            border-left: none;
            border-right: none;
            border-top: none;
            border-bottom: 1px solid #f0f0f0;
            button {
              padding: 6px 12px;
              cursor: pointer;
              border-radius: 5px;
              background-color: #e87878;
              border: none;
              outline: none;
            }
            button:hover {
              background-color: #e75656;
            }
            a {
              font-size: 15px;
            }
            a:hover {
              cursor: pointer;
              text-decoration: underline;
              color: $EagleGreen;
            }
            @include max-screen($sm) {
              button {
                padding: 5px 7px;
              }
              button:hover {
                font-weight: 500;
              }
            }
          }
        }
        tr:nth-child(even) {
          background-color: #fcfcfc;
        }
        .done_pay {
          color: $EagleGreen;
          font-weight: bold;
        }
      }
    }

    text-align: center;
  }
}
.modal::-webkit-scrollbar {
  display: none;
}

.modal {
  scrollbar-width: none;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: grayscale(50%) blur(5px);
  z-index: 0;
}
